*{
    font-family: 'Josefin Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --color-primary:#fff;
    --secondary-color: #20c3c9;
    --text-color: #777;
    --bg-color: #000;
    --color-indent: #b2caaeea;
    --color-border:rgb(63, 61, 61);

}


body, a{
    color: var(--text-color);
    text-decoration: none;
    transition: .4s;
    
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    background-color: #000;
    
}
.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 70px;
    width: 1170px;
    padding: 1.5rem 0;
    position: fixed;
    background-color: #000;
}
.header-brand{ /*NOME WANDERSON*/
    font-size: 2.1rem;
    width: 300px;
    
}

.header-brand .dutra{
    color: var(--secondary-color);
}
.header-brand:hover{
    color: var(--text-color);
}
.header-navbar{
    font-size: 1.2rem;
    width: 500px;
    text-decoration: none;
}
.header-navbar-ul{
    display: flex;
    justify-content: space-around;
    
}
.header-navbar-ul, li, a{
    text-decoration: none;
    list-style: none;

}

.header-navbar-ul, li, a:hover{
    color: var(--secondary-color);
}

/*----------SOCIAL MIDIA-------*/

.header-social-media-ul{ 
    display: flex;
    justify-content: space-around;
    width: 100px;
    font-size: 1.3rem;
    
}
/*--------------FIM HEADER-------------*/
/*--------------HOME-------------*/

.home{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   
}

.home-img .logo{
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-border);
    margin-top: 10px;
    border-radius: 10px;
   
}


.home-text{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
}
.home-card-title{
    cursor: pointer;
    margin: 10px;
}
/*-----------------HABILIDADES-------------*/


.ability{ 
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background: #1a2a6c;
    background: -webkit-linear-gradient(to right, #0c040e, #100113, #1a2a6c);
    background: linear-gradient(to right, #2001273f, #877192, #20012738); 
    margin-top: 10px;
    
}
.ability-estudos{
    width: 500px;
    height: 600px;
    border: 2px solid var(--color-border);
    border-radius: 10px;
    cursor: pointer;
}
.ability-estudos-title{
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 35px;
}
.ability-estudos-skill {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.skill-completa {
    width: 110px;
    height: 130px;
    margin: 20px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 5px var(--color-primary);
    
}
.skill-completa:hover{
    box-shadow: 0 0 12px var(--secondary-color);
}

.ability-estudando{
    width: 500px;
    height: 600px;
    border: 2px solid var(--color-border);
    border-radius: 10px;
    cursor: pointer;
}

.ability-estudando-skill{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.skill-incompleta{
    width: 120px;
    height: 150px;
    margin: 20px;
}

/*---------------PROJETOS---------------*/

.projetos{
    height: 100vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.box{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin-top: 20px;
}
.card{
    background-image: url(./Logo.png);
    width: 200px;
    height: 300px;
    border: 2px solid var(--color-border);
    margin-top: 30px;
    border-radius: 10px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn{
    width: 130px;
    height: 30px;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #735f79, #1c0129); 
    border-radius: 8px;
    border: 1px solid var(--color-border);
}
/*--------------CONTATOS----------------*/

.contatos{
    max-width: 1170px;
    height: 100vh;
    background-color: rgb(241, 214, 214);
 margin-bottom: 10px;
}


/*------------FOOTER--------*/


footer{
    text-align: center;
    margin-bottom: 20px;
}

footer .footer{
    color:var(--secondary-color)
}