*{
    font-family: 'Josefin Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
:root{
    --color-primary:#fff;
    --secondary-color: #20c997;
    --text-color: #777;
    --bg-color: #000;
    --color-indent: #b2caaeea;
    --color-border:rgb(63, 61, 61);

}

bady{
    
    color: var(--text-color);
}
body, a{
    color: var(--text-color);
    text-decoration: none;
    transition: .4s;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    background-color: #000;
    
}
.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 70px;
    width: 1170px;
    padding: 1.5rem 0;
    position: fixed;
}
.header-brand{ /*NOME WANDERSON*/
    font-size: 2.1rem;
    width: 300px;
    
}

.header-brand .dutra{
    color: var(--secondary-color);
}
.header-brand:hover{
    color: var(--text-color);
}
.header-navbar{
    font-size: 1rem;
    width: 500px;
    text-decoration: none;
}
.header-navbar-ul{
    display: flex;
    justify-content: space-around;
    
}
.header-navbar-ul, li, a{
    text-decoration: none;
    list-style: none;

}

.header-navbar-ul, li, a:hover{
    color: var(--secondary-color);
}

/*----------SOCIAL MIDIA-------*/

.header-social-media-ul{ 
    display: flex;
    justify-content: space-around;
    width: 100px;
    font-size: 1.3rem;
    
}
/*--------------FIM HEADER-------------*/
/*--------------HOME-------------*/

.home{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}

.home-img .logo{
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--color-border);
    margin-top: 10px;
    border-radius: 10px;
   
}


.home-text{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
}
.home-card-title{
    cursor: pointer;
    margin: 10px;
}
/*-----------------HABILIDADES-------------*/


.ability{ 
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.ability-estudos{
    width: 450px;
    height: 500px;
    border: 2px solid var(--color-border);
    border-radius: 10px;
    
}
.ability-estudos-title{
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.ability-estudos-skill {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.skill-completa {
    width: 110px;
    height: 120px;
    margin: 15px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 5px var(--color-primary);
    
}
.skill-completa:hover{
    box-shadow: 0 0 8px var(--secondary-color);
}
.ancora .skill-completa{
    display: flex;
    align-content: stretch;
}
.ability-estudando{
    width: 450px;
    height: 500px;
    border: 2px solid var(--color-border);
    border-radius: 10px;
}
.ability-estudando-skill{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.skill-incompleta{
    width: 120px;
    height: 150px;
    margin: 15px;
}
/*---------------PROJETOS---------------*/

.projetos{
    background-color: #20c997;
}
.projetos-card{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 1170px;
    height: 100vh;
    border: 2px solid var(--color-border);
    border-radius: 10px;
   
    
}
.projetos-card-cards{
    width: 550px;
    height: 520px;
    margin: 15px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 5px var(--color-primary);
    background-color: #777;
}
/*--------------CONTATOS----------------*/

.contatos{
    max-width: 1170px;
    height: 100vh;
    background-color: #777;
 
}

/*------------FOOTER--------*/


footer{
    text-align: center;
    margin-bottom: 20px;
}

footer .footer{
    color:var(--secondary-color)
}