*{
    font-family: 'Josefin Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --color-primary:#fff;
    --secondary-color: #4cbb76;
    --text-color: rgb(163, 167, 164);
    --bg-color: #000;
    --color-indent: #b2caaeea;
    --color-border:rgba(4, 32, 19, 0.527);

}

body{
    background: #000;
}

body, a{
    color: var(--text-color);
    text-decoration: none;
    transition: .4s;
}
.container{
    max-width: 1170px;
    height: 100vh;
    margin: 0 auto;
    background-color: #000;
    
}
.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 60px;
    width: 1170px;
    padding: 1.5rem 0;
    position: fixed;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 8px 0.5px rgba(255, 255, 255, 0.644);

}


.header-brand{ /*NOME WANDERSON*/
    font-size: 1.9rem;
    width: 300px;
    
}

.header-brand .dutra{
    color: var(--secondary-color);
}
.header-brand:hover{
    color: var(--text-color);
}
.header-navbar{
    font-size: 1.2rem;
    width: 500px;
    text-decoration: none;
}
.header-navbar-ul{
    display: flex;
    justify-content: space-around;
    
}
.header-navbar-ul, li, a{
    text-decoration: none;
    list-style: none;

}

.header-navbar-ul, li, a:hover{
    color: var(--secondary-color);
}

/*----------SOCIAL MIDIA-------*/

.header-social-media-ul{ 
    display: flex;
    justify-content: space-around;
    width: 100px;
    font-size: 1.3rem;
    
}
/*--------------FIM HEADER-------------*/
/*--------------HOME-------------*/


.home{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
}

.home-img .logo{
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border);
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 8px 0.5px rgba(255, 255, 255, 0.644);
}


.home-text{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
}
.home-card-title{
    cursor: pointer;
    margin: 10px;
}

/*--------------HABILIDADES------------------*/

.habilidades{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
}

.box{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    align-content: flex-start;
    background: #216c1a;
    background: -webkit-linear-gradient(to right, #040e09, #01130c, #040e09);
    background: linear-gradient(to right, #01271125, #8dcf9ac0, #01271125); 
    border: 1px solid var(--color-border);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 8px 0.5px rgba(255, 255, 255, 0.644);
}

.ability-estudos{
    width: 100%;
    max-height: 250px;
    margin-top: 10px;
    cursor: pointer;
    
}
.ability-estudos-title{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 25px;
    color: rgba(222, 224, 223, 0.979);
}
.ability-estudos-skill {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.skill-completa {
    width: 100px;
    height: 120px;
    margin: 20px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 8px 0.5px rgba(255, 255, 255, 0.644);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.skill-completa:hover{
    box-shadow: 0 0 8px rgba(6, 37, 26, 0.555);
    transform: translateY(-10px);
}

/* segunda box */

.ability-estudando{
    width: 100%;
    max-height: 250px;
    cursor: pointer;
    
}

.ability-estudando-skill{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.skill-incompleta{
    width: 120px;
    height: 150px;
    margin: 20px;
}


/*---------------------PROJETOS----------------------*/

.projetos{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
}

.box{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    margin-top: 55px;
    background: #216c1a;
    background: -webkit-linear-gradient(to right, #040e09, #01130c, #040e09);
    background: linear-gradient(to right, #01271125, #8dcf9ac0, #01271125); 
    border: 1px solid var(--color-border);
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 0 8px 0.5px rgba(255, 255, 255, 0.644);
}
.card{
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 30px;
    box-shadow: 0 0 8px 0.5px rgba(255, 255, 255, 0.644);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    background: #202020; 
    background: -webkit-linear-gradient(to left, #434343b4, #0000006e); 
    background: linear-gradient(to left, #43434359, #00000080);

}

.card:hover{
    box-shadow: 0 0 8px rgba(6, 37, 26, 0.555);
    transform: translateY(10px);
}

#link{
    font-size: 14px;
    margin-bottom: 20px;
    color: rgba(222, 224, 223, 0.979);
}
#link:hover{
    color: var(--secondary-color);
}
.foto-logo{
    border-radius: 12px;
    width: 130px;
    height: 230px;
    background-color: #4cbb76;
}


/*-----------------------LOCATION------------------------*/

.location{
    width: 100%;
    height: 95vh;
    padding: 2px ;
    margin-top: 5px;

}

.location .icons{
    background: #216c1a;
    background: -webkit-linear-gradient(to right, #040e09, #01130c, #040e09);
    background: linear-gradient(to right, #01271125, #8dcf9ac0, #01271125); 
    padding: 15px;  
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    box-shadow: 0 0 8px 0.5px rgba(255, 255, 255, 0.644);
    margin-top: 62px;
    margin-bottom: 5px;
}
.location .icons .info{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.location .icons .info .nome{
    width: 20px;
}
.location .icons .info .icon{
    margin-right: 10px;
    border: 1.8px solid var(--color-border);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.location .icons .info .text span{
    display: block;
    font-size: 14px;
}
.location .icons .info .text span:first-child{
    color: rgba(222, 224, 223, 0.979);
    margin-bottom: 10px;
}
.location .icons .info .text span:last-child{
    color: var(--text-color);
    
}

.location .maps{
    width: 100%;
}
.location .maps iframe{
    width: 100%;
    height: 65vh;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
/*----------------------FOOTER-------------------------*/


footer{
    text-align: center;
    margin-bottom: 5px;
}



/*------------------------RESPONSIVE----------------*/



@media screen and (max-width: 768px){
    .header{
        width: 100vw;        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-navbar{
        font-size: 0.9rem;
        justify-content: center;
    }
    .header-social-media{
        display: none;   
    }
    .header-brand{
        display: none;
    }

    /*-----------HOME-----------*/
    .home{
        width: 100vw;
        height: 100vh;
    }
    .home-img{
        display: none;
    }
    .home-text{
        font-size: 14px;
    }

    /*----------ABILITY----------*/
    .ability{
        width: 100vw;
        height: 100vh;
        flex-wrap: wrap;
    }
    .ability-estudos, .ability-estudando{
        width: 500px;
        height: 170px;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: center;
        text-align: center;
        flex-direction: row;
    }
    .ability-estudos-title{
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 15px;

    }
    .skill-completa{
        width: 60px;
        height: 70px;
        margin: 5px;
        padding: 4px;
    }

    /*-----------PROJETOS ---------*/

    .projetos{
        width: 100vw;
        height: 100vh;
    }
    .box{
        width: 100vw;
        height: 100vh;
        flex-wrap: wrap;
        align-items: center;
    }
    .card{
        margin-top: 10px;
        width: 100px;
        height: 130px;
        
    }
    .foto-logo{
        width: 100px;
        height: 130px;
    }
    #link{
        font-size: 14px;
        margin-bottom: 10px;
    }

    /*-----------CONTATOS ---------*/

    .location{
        width: 100vw;
        height: 100vh;
    }
    .location .icons{
        padding: 20px;
    }
    .location .icons .info .icon{
        width: 30px;
        height: 30px;
        padding: 4px;

    }
    .location .icons .info .nome{
        width: 12px;
    }
    .location .icons .info .text span{
        font-size: 12px;
    }
}

@media screen and (max-width: 390px){
    .header{
        width: 100vw;
    }

    /*---------------home-------------*/

    .home{
        width: 100vw;
        height: 100vh;
    }

    .ability-estudos .ability-estudando{
        border: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .skill-completa{
        width: 35px;
        height: 45px;
    }
    /*---------------ability-------------*/

    .ability{
        width: 100vw;
        height: 100vh;
        flex-wrap: wrap;
    }

    /*--------------projetos--------------*/

    .projetos{
        width: 100vw;
        height: 100vh;
    }
    .box{
        margin: 0 auto;
        border: 2px solid var(--color-border);

    }
    .location{
        width: 100vw;
    }
    .location .icons .info .icon{
        display: none;
    }
}