/*--------------------------------FONTS------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*--------------------------------FONTS------------------------------------*/

/*---------------------------------VARIABLES--------------------------------*/
:ROOT{
    --color-fonte-menu: rgba(10, 117, 218, 0.815);
    --color-fonte: rgba(39, 30, 25, 0.815);
    --cyan-light: #08ff5a8e;
    --pink-light: #38cefc9f;
    --green-yellow: rgb(94, 139, 20);
    --white-alpha-40: rgba(231, 228, 227, 0.336);
    --white-alpha-25: rgba(252, 250, 249, 0.322);
    --color-border: rgba(255, 255, 253, 0.411);
    --color-menu: rgba(230, 235, 233, 0.425);
    -webkit-backdrop-filter-blur: blur(5px);
}
/*---------------------------------VARIABLES---------------------------------*/

/*--------------------------------GLOBAL SETTINGS----------------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}
/*--------------------------------GLOBAL SETTINGS----------------------------*/

/*--------------------------------HOME SECTION-------------------------------*/
body {
min-height: 100vh;
background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
line-height: 1.5;
overflow-x: hidden;
-webkit-tap-highlight-color: transparent;
padding: 5vh 15px;

}
body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--green-yellow);
    z-index: -1;
    opacity: 0.12;

}
.main{
    max-width: 1200px;
    margin: auto;
    
}
section{ /* Quadrado central */
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: 90vh;
    border-radius: 40px;
    
}



/*-------------------Corpo Central--------------------------*/
/*--------Barra de menus-------------*/
.header{
   /* background-color: red;*/
    max-width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    order: 1 ;
    
        
}

.nav-links{
    /*background-color: rgb(0, 255, 136);*/
    display: flex;
    justify-content: flex-end;
    list-style: none;
    flex-wrap: wrap;
    margin-right: 50px;
    
    

}
.nav-links, li{
    padding: 0px 20px;
    
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: var(--color-fonte-menu);
}

li, a{
    font-size: 18px;
    color: var(--color-fonte);
    text-decoration: none;
    font-family: 'Poppins' ;  
    text-transform:uppercase;  

} 
li {
    margin: 0 10px;
}

/*-corpo central--*/

.corpo-central{
   /* background-color: green;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins' ;
}
.img-box{
    border: 1px solid var(--color-fonte-menu);
    border-radius: 50%;
    
}
.home-img{
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    padding: 0 40px;
    margin-left: 20px;

}
img{
    margin-bottom: 40px;
}
.emoji{
    max-width: 100%;
    vertical-align: middle;
}
.home-img,
.img-box{
    max-width: 330px;
    padding: 0;
    background-color: var(--white-alpha-40);
    border-radius: 50%;
    border: 2px solid var(--white-alpha-25);
    
}
/*--------------------------------testo-------------------------------*/
.texto{
 /*   background-color: blue;*/
    width: 800px;
    height: 400px;
    padding:0 10px 10px 80px;
    
}
h1, h3{
    color: var(--color-fonte);
}
h3{
    margin-top: 100px;
    letter-spacing: 1px;
}
h1{
    letter-spacing: 1px;
}
.nome span:first-child{
    color: var(--color-fonte-menu);
    font-family: 'Lobster', cursive;
    font-size: 30px;
    letter-spacing: 6px;
}
p{
    margin-top: 10px;
    letter-spacing: 1px;
    color: var(--color-fonte);
    
}


/*------------------------ menu projeto -----------------------*/
.projetos{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    height: 230px;
    margin: 10px 20px;
    margin-top: 40px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    border-radius: 25px;
    border: 1px solid var(--color-border);
}
.card:hover{
    transform: translateY(-20px);
}
.card1{
    background-image: url(./babershop.jpg);
}
.card2{
    background-image: url(./cv.png);
}
.card3{
    background-image: url(./ficha.png);
}
.card4{
    background-image: url(./menu.png);
}
.card5{
    background-image: url(./lista.png);
}
.card6{
    background-image: url(./sahara.png);
}

/*----------------------- final menu projeto ---------------------------*/
/*------------------------ Contatos -----------------------*/
.container-contact{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}
.form{
    width: 100%;
    max-width: 1000px;
    max-height: 1500px;
    margin-top: 20px;
    border-radius: 40px;
    box-shadow: 0 0 20px 2px var(--white-alpha-25);
    z-index: 1000;
    overflow: hidden;
    display: flex;
    grid-template-columns: repeat(2, 1fr);

}

.contact-info{
    background: rgba(250, 247, 252, 0.363);
}
.contact-form{
    background-color: rgba(45, 108, 190, 0.363);
    position: relative;

}

.contact-form::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: rgba(45, 108, 190, 0.301);
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}
.title{
    color: var(--color-fonte);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
    margin-top: 25px;
    
}
.input-container{
    position: relative;
    margin: 2rem 0; 

}

.input{
    width: 100%;
    outline: none;
    border: 2px solid var(--color-border);
    border-radius: 25px;
    background: none;
    padding: 0.6rem 1.2rem;
    color: var(--color-fonte);
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    transition: 0.3s;
}
textarea .input{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
    color: black;
}
.input-container label{
    top: 50%;
    left: 15px;
    transform: translate(-50%);
    padding: 0 0.4rem;
    color: rgb(32, 29, 29);
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.3s;
}
.btn{
    padding: 0.6rem 1.3rem;
    background-color: var(--c);
    border: 2px solid var(--color-border);
    font-size: 0.95rem;
    color: var(--color-fonte);
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer ;
    transition: 0.3s;
    margin-top: 20px;
}
.btn:hover{
    background-color: var(--white-alpha-40);
}

/*------------------------ Final contatos -----------------------*/

/*------------------------ Informations -----------------------*/
.contact-info{
    
    padding: 2.3rem ;
    position: relative;
}

.titulo-redes-sociais{
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.icon {
    color: rgba(250, 247, 252, 0.363);
    display: flex;
    flex-direction: column;
    width: 50px;
}
.information{
    display: flex;
}

/*----------------------- Final Informations -----------------------*/